<html>
  <head>
    <title>heute-journal</title>
    <link rel="stylesheet" href="/css/style.css">

    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/images/logo.png">
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
      (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
          (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
      })(document, window, '//ping.bitboxer.de/tracker.js', 'fathom');
      fathom('set', 'siteId', 'RPYCP');
      fathom('trackPageview');
    </script>
    <!-- / Fathom -->
  </head>
  <body>
    <div class="header">
      <img class="logo" src='/images/logo.svg' />
      <div class="title">
        heute-journal
      </div>
    </div>

    <div class="content">
    <div class="time">
      <%= schedule.time %>
    </div>
    <div class="length">
      <%= schedule.length %>min
    </div>

    <div class="mediathek">
      <a href='<%= mediathek.link %>'><%= mediathek.title %></a>
    </div>

    <div class="live">
      <a href='https://www.zdf.de/live-tv'>ZDF Live Stream</a>
    </div>

  </div>

    <div class="footer">
      <div class="github">
        <a href='https://github.com/bitboxer/heute-journal'>Github</a> |
        <a href='http://bodo.tasche.me'>Imprint</a>
      </div>
      <div class="icon">
        Icon <a href='https://creativecommons.org/licenses/by/3.0/us/legalcode'>CC-BY</a> by <a href='https://thenounproject.com/term/tv-news/286694/#'>Rflor</a>
      </div>
    </div>
  </body>
</html>
