<html>
  <body>
    <%= schedule.time %>
    <%= schedule.length %>min

    <a href='<%= mediathek.link %>'><%= mediathek.title %></a>

    <a href='https://www.zdf.de/live-tv'>ZDF Live Stream</a>

    <div>
      <a href='https://github.com/bitboxer/heute-journal'>Github</a>
      <p>
        Icon <a href='https://creativecommons.org/licenses/by/3.0/us/legalcode'>CC-BY</a> by <a href='https://thenounproject.com/term/tv-news/286694/#'>Rflor</a>
      </p>
    </div>
  </body>
</html>
